<footer class="footer">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2 col-sm-6 col-6 mb-4 mx-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Help & Support</h6>
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="mailto:mykola.tarasenko23@gmail.com" target="_blank">
                Contact Me
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 mx-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Resources</h6>
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="https://iradesign.io/" target="_blank">
                Illustrations
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                Bits & Snippets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                Affiliate Program
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 mx-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Legal</h6>
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Terms & Conditions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Privacy Policy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Licenses (EULA)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-3 text-sm">
            This project is built with Django. It showcases basic functionality and design for learning purposes.
          </p>
          <p class="my-3 text-sm">
            Task Manager &copy; <a target="_blank" href="https://github.com/mykola-tarasenko" target="_blank">Mykola Tarasenko</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
