{% extends "base.html" %}

{% block content %}
  {% include "includes/search_form.html" %}
  <h1>
    Project List
    <a href="{% url 'tasks:project-create' %}" class="btn btn-primary">
      Create
    </a>
  </h1>

  {% if project_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Teams</th>
      </tr>

      {% for project in project_list %}
        <tr>
          <td>
            {{ project.id }}
          </td>
          <td>
            <a href="{% url 'tasks:project-detail' pk=project.id %} ">{{ project.name }}</a>
          </td>
          <td>
            {{ project.teams.count }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no projects in the service.</p>
  {% endif %}
{% endblock %}
