{% extends "base.html" %}

{% block content %}
  <h1>
    {{ project.name }}
    <a href="{% url 'tasks:project-delete' pk=project.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'tasks:project-update' pk=project.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <hr>
  <p><strong>Description:</strong></p>
  <p>{{ project.description }}</p>
  <hr>
  {% if project.teams.all %}
    <p><strong>Teams working on it:</strong></p>
    <ul>
      {% for team in project.teams.all %}
        <li><a href="{% url 'tasks:team-detail' pk=team.id %}">{{ team.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no teams working on it!</p>
  {% endif %}
{% endblock %}
