{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'tasks:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'tasks:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <hr>
  <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
  <p><strong>Status:</strong> {{ task.get_status_display }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Task type:</strong> <a href="{% url 'tasks:task-type-detail' pk=task.task_type.id %}">{{ task.task_type }}</a></p>
  <p><strong>Project:</strong> <a href="{% url 'tasks:project-detail' pk=task.project.id %} ">{{ task.project }}</a></p>
  <p><strong>Description:</strong></p>
  <p>{% if task.description %}{{ task.description }}{% else %}No description provided{% endif %}</p>
{% endblock %}
