{% extends "layouts/base-presentation.html" %}

{% block content %}

  {% include "includes/search_form.html" %}

  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-gradient text-primary pb-1">Task Type List</h1>
      <a href="{% url 'tasks:task-type-create' %}" class="btn btn-primary">
        Create Task Type
      </a>
    </div>
  </div>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header pb-0">
        <h6 class="text-uppercase text-secondary font-weight-bolder">Overview</h6>
      </div>
      <div class="card-body px-3 pt-0 pb-2">
        {% if task_type_list %}
          <div class="table-responsive p-3">
            <table class="table align-items-center table-hover table-bordered mb-0 w-100">
              <thead class="bg-light">
                <tr>
                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">ID</th>
                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Name</th>
                </tr>
              </thead>
              <tbody>
                {% for task_type in task_type_list %}
                  <tr>
                    <td class="text-s font-weight-bold">{{ task_type.id }}</td>
                    <td class="text-s font-weight-bold">
                      <a href="{% url 'tasks:task-type-detail' pk=task_type.id %}" class="text-primary text-gradient">
                        {{ task_type }}
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="text-center text-muted my-4">There are no task types in the service.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
