{% extends "layouts/base-presentation.html" %}

{% block content %}
<div class="container" style="margin-top: 6rem;">
  <div class="card">
    <div class="card-header pb-0">
      <h3 class="font-weight-bolder text-gradient-primary d-flex justify-content-between align-items-center">
        {{ team.name }}
        <div>
          <a href="{% url 'tasks:team-update' pk=team.id %}" class="btn btn-secondary btn-sm">
            <i class="fas fa-edit"></i> Update
          </a>
          <a href="{% url 'tasks:team-delete' pk=team.id %}" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Delete
          </a>
        </div>
      </h3>
    </div>
    <div class="card-body">
      <div class="mb-4">
        <h5 class="font-weight-bold">Members:</h5>
        {% if team.members.all %}
          <ul class="list-group list-group-flush">
            {% for member in team.members.all %}
              <li class="list-group-item">
                <a href="{% url 'tasks:worker-detail' pk=member.id %}" class="text-primary">{{ member }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="text-muted">There are no workers yet!</p>
        {% endif %}
      </div>
      <hr>
      <div>
        <h5 class="font-weight-bold">Projects:</h5>
        {% if team.projects.all %}
          <ul class="list-group list-group-flush">
            {% for project in team.projects.all %}
              <li class="list-group-item">
                <a href="{% url 'tasks:project-detail' pk=project.id %}" class="text-primary">{{ project.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="text-muted">There are no projects yet!</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
