{% extends "base.html" %}

{% block content %}
  {% include "includes/search_form.html" %}
  <h1>
    Worker List
    <a href="{% url 'tasks:worker-create' %}" class="btn btn-primary">
      Create
    </a>
  </h1>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Position</th>
        <th>Team</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          <td>
            {{ worker.id }}
          </td>
          <td>
            <a href="{% url 'tasks:worker-detail' pk=worker.id %}">{{ worker }}</a>
          </td>
          <td>
            {% if worker.position %}{{ worker.position }}{% else %}-{% endif %}
          </td>
          <td>
            {% if worker.team %}{{ worker.team }}{% else %}-{% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no workers in the service.</p>
  {% endif %}
{% endblock %}
