{% extends "base.html" %}

{% block content %}
  <h1>
    Worker List
  </h1>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Team</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          <td>
            {{ worker.id }}
          </td>
          <td>
            <a href="{% url 'tasks:worker-detail' pk=worker.id %}">{{ worker }}</a>
          </td>
          <td>
            {{ worker.first_name }}
          </td>
          <td>
            {{ worker.last_name }}
          </td>
          <td>
            {{ worker.position }}
          </td>
          <td>
            {{ worker.team }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no workers in the service.</p>
  {% endif %}
{% endblock %}
